@import url('site.css');

img{
	min-height: 150px;
	max-height: 150px;
	
	position: relative;
	object-position: center;
    object-fit: cover;
	
}

.imgCont{
	width: 100%;
	position:relative;
	
}
.limit-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
    max-height: 5em; /* 3 times the line height */
}

.resortsContainer{
	display: flex;
	flex-flow: row wrap;
	gap: 1em;
	justify-content: initial;
	margin: 2em auto;
	
}

.resort-card{
	
	flex: 1 1 20%;
	min-width: 150px;
	max-width: 200px;
}

body {
 background-image:
  url('https://images.pexels.com/photos/3737419/pexels-photo-3737419.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

 .event-detail-box {
    background-color: #fff; /* White background */
    border-radius: 4px; /* Rounded corners */
    padding: 20px; /* Padding inside the box */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    margin-bottom: 20px; /* Space below the box */
    margin-top: 20px; /* Space above the box */
  }